.navbar {
  background-color: grey;
}

.navitem {
  display: inline-block;
  list-style-type: none;
  float: right;
}

.pagination {
  margin-top: 20px;
  border: 1px solid black;
  display: inline-block;
  height: 30px;
}

.prev, .next {
  width: 100px;
}

.next {
  margin-left: -5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; 
}

.pages {
  width: 300px;
  margin-left: -5px;
}

.submit {
  background-image: url("./magnifying-glass.png");
  height: 30px;
  width: 30px;
}

.date, .location {
  color: #939393;
}

.job {
  color: blue;
  font-weight: bold;
}